@import 'globals/all'
@import 'bourbon'

%doc-content-container
  +box-shadow (0 -2px 6px rgba(0,0,0,.8), inset 0 1px 1px rgba(255,255,255,.3))

%doc-content
  background: #4c5c65
  height: 100%
  padding: 20px
  color: #ffffff
  margin-bottom: 6px
  text-shadow: 0 -1px 0 rgba(0,0,0,.8)
  font-size: 18px

.editable-doc-content
  @extend %doc-content-container
  textarea
    @extend %doc-content
    width: 100%
    resize: none
    outline: none

.viewable-doc-content
  @extend %doc-content-container
  @extend %doc-content
  overflow: scroll
  .added
    background-color: #afa
    text-shadow: none
    color: #000
  .deleted
    text-decoration: line-through
    opacity: .5
  .line-break
    display: block
  .paragraph-break
    display: block
    height: 1em
    &.is-selected
      background: none
