@import 'globals/all'
@import 'bourbon'

.page-menu
  position: absolute
  top: 15px
  right: 100%
  width: 150px
  padding: 3px 5px
  border: 1px solid rgba(100,100,100,.45)
  border-top-left-radius: 5px
  border-bottom-left-radius: 5px
  font-size: 12px
  background: rgba(100,100,100,.4)

  a, input[type=submit], button
    display: block
    width: 130px
    margin: 5px auto
    padding: 0
    border: 1px solid #333
    border-radius: 3px
    background: #555
    color: #eee
    font-size: 12px
    text-decoration: none
    cursor: pointer
    text-align: center
    line-height: 20px
