.share-modal
  width: 25em
  margin: 40px auto
  padding: 20px 25px
  border: 1px solid gray

.share-url
  line-height: 1.2
  margin-bottom: 20px
  input
    width: 23em
    font-size: 16px
    padding: 2px 4px

.share-url-label
  font-weight: bold

.share-url-info
  color: gray
