body
  margin: 0
  padding: 0
  background: darken(#f7f2e6, 5%)
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif

form.button_to
  display: inline
  div
    display: inline

.page-container
  position: relative
  max-width: 40em
  margin: 0 auto

.page-content
  position: relative
  z-index: 10
