.accounts
  %h1 Writeflo Accounts

  %p
    Busted! You caught me. I haven't added support for accounts yet. I'm really sorry about this,
    but I want you to know that accounts are coming soon.
  %p
    With an account you'll be able to keep track of your shared writeflos, get notified
    when reviews come in, respond to comments, and more!

  %hr

  %p
    If you'd like to know when accounts are available, and keep up with all the writeflo
    happenings, follow #{link_to '@writeflo', 'http://twitter.com/writeflo', target: '_blank'}
    on Twitter.
